/* Work Sans Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Work+Sans:wght@300;600&display=swap");
/* Rubik Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
/* Sedgwick Ave Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
 
/* Tailwind CSS Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #3b2a45;
  @apply text-white;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.shadow-solid-primary {
  box-shadow: -6px 6px #ab2955;
}

.text-shadow {
  text-shadow: -5px 2px #ab2955;
}